  <!-- Sidebar -->
  <div id="sidebar" class="bg-dark text-white ">
            
            
            
                
            
            
    <ul class="nav flex-column">
        <div class="nav-item">
            <a href="/admin/" class="nav-link text-white">
                <i class="fa-solid fa-house"></i> <span>ADMIN DASHBOARD</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="/admin/video" class="nav-link text-white position-relative">
                <i class="fa-solid fa-tv blinking-icon" style="color: red;"></i> 
                <span>Live TV</span>
            </a>
        </div>
        
        <style>
            .blinking-icon {
                animation: blink 1s infinite alternate;
            }
        
            @keyframes blink {
                0% { opacity: 1; }
                50% { opacity: 0; }
                100% { opacity: 1; }
            }
        </style>
        
        
        
        

    <div class="nav-item">
        <a href="/admin/international#sportsContainer" class="nav-link text-white">
            <i class="fa-solid fa-earth-americas"></i><span>INTERNATIONAL</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/national#sportsContainer" class="nav-link text-white">
            <i class="fa-solid fa-building-flag"></i> <span>NATIONAL</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/sports#sportsContainer" class="nav-link text-white">
            <i class="fa-solid fa-baseball-bat-ball"></i> <span>SPORTS</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/entertainment#sportsContainer" class="nav-link text-white">
            <i class="fa-regular fa-face-grin-squint-tears"></i> <span>ENTERTAITMENT</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/health#sportsContainer" class="nav-link text-white">
            <i class="fa-solid fa-suitcase-medical"></i> <span>HEALTH</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/latest#sportsContainer" class="nav-link text-white">
            <i class="fa-solid fa-envelopes-bulk"></i> <span>LATEST</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/marquee" class="nav-link text-white">
            <i class="fa-solid fa-highlighter"></i> <span>MARQUEE TEXT</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/allAds" class="nav-link text-white">
            <i class="fa-solid fa-rectangle-ad"></i> <span>ADS</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/weather" class="nav-link text-white">
            <i class="fa-solid fa-cloud-bolt"></i><span>WEATHER</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/list" class="nav-link text-white">
            <i class="fa-solid fa-newspaper"></i><span>Add NEWS PAPER</span>
        </a>
    </div>
</ul>
</div>